// .navbar-nav {
//     flex-direction: row;

//     .nav-item {
//         margin-left: 25px;
//     }
// }

section {
    padding: 50px 0;
}

.slider {
    background-color: azure;
    position: relative;
    height: 80vh;
}